.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%!important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center
}

.btn-floating:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.btn-floating:before {
    border-radius: 0
}

.btn-floating.btn-sm {
    width: 36.15385px;
    height: 36.15385px
}

.btn-floating.btn-sm i {
    font-size: .96154rem;
    line-height: 36.15385px
}

.btn-floating.btn-lg {
    width: 61.1px;
    height: 61.1px
}

.btn-floating.btn-lg i {
    font-size: 1.625rem;
    line-height: 61.1px
}

  .fixed-action-btn {
    position: fixed;
    /* right: 35px; */
    bottom: 35px;
    z-index: 998;
    margin-bottom: 0;
    overflow: hidden;
    height: 110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 15px 15px 15px 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: height 400ms;
    transition: height 400ms
}

.fixed-action-btn ul {
    position: absolute;
    right: 0;
    bottom: 64px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 0;
    padding: 0;
    margin: 0 0 15px;
    text-align: center;
    -webkit-transition: 400ms all;
    transition: 400ms all;
    opacity: 0;
    margin-bottom: 0
}

.fixed-action-btn ul li {
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto
}

.fixed-action-btn ul a.btn-floating {
    opacity: 0;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scale(0.4) translate(0);
    transform: scale(0.4) translate(0)
}

.fixed-action-btn ul a.btn-floating.shown {
    opacity: 1;
    -webkit-transform: scale(1) translate(0);
    transform: scale(1) translate(0)
}

.fixed-action-btn.active ul {
    height: 10rem;
    margin-bottom: 40px;
    opacity: 1
}

.fixed-action-btn.active {
    height: 500px
}
.btn-floating.btn-flat {
    padding: 0;
    color: #fff;
    background: #4285f4
}

.btn-floating.btn-flat:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-floating.btn-flat:hover,.btn-floating.btn-flat:focus {
    background-color: #5a95f5
}

.btn-floating.btn-flat.active {
    background-color: #0b51c5;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15)
}
