#mapid { 
				/* width: 50%; */
				/* height: 50vh;  */
                height: 100%; 
			} 	
			.production {
				width: 100%;
				display: inline-table;
				height:auto;
				table-layout: fixed;
				/* padding-left: 5%; */
			}
            .table > thead {
                font-style: normal!important;
                font-stretch: condensed!important;
                font-size: 12px;
            }
			.engineering-date {
                color: #ff4d4d;
                font-weight: 900;
                
            }
            .accounting-date {
                font-weight: 900;
            }
            td:first-child.engineering-d {
                font-weight: bold;
            }
            .engineering {
                font-size: 12px;
            }
            .accounting {
                /* background-color: rgba(77,77,255,0.5); 
                color: white; */
                color: #0000ff;
                /* font-weight: 900; */
                font-style: italic;
                /* color: #4d4dff; */
            }
            .accounting-text { 
                color: rgba(77,77,255,1);
                font-size: 12px;
            }	
            td:first-child.accounting-date {
                font-weight: bold;
            }	
            .vendor{
                /* background-color: gold; */
                font-size: 11px;
                background-color: rgba(255, 215, 0, 0.5);
            }
            .vendor > table.vendortable {
                background-color: rgba(204, 255, 204, 1)!important;
            }

            .vendortable {
                background-color: rgba(204, 255, 204, 1)!important;
            }
            .field {
                font-size: 12px;
                color: purple;
            }
            td:first-child.field-date { 
                font-weight: bold; 
            }	
            #eng { display: none; }
            #acct { display: none; }
            #vend { display: none; }
            #field { display: none; }
            .not-allowed { cursor: not-allowed; }
            .gold { background-color: gold; }
            .red { background-color: #ff4d4d; }
            .purple { background-color: purple; color: white; }
            .blue { background-color: #4d4dff; color: white; }
            .text-wrap{
                white-space:normal!important;
            }
            .lg-icon {
                width: 1.625rem!important;
                height: 1.625rem!important;
                vertical-align: -webkit-baseline-middle!important;

            }
            .sm-icon {
                width: 1.25rem;
                height: 1.25rem;
                vertical-align: -webkit-baseline-middle;
                margin-top: 0.75rem;
            }
            .smol th,
            .smol td,
            .smol a,
            .smol p {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            font-size: 14px;
            }
            table.dataTable tbody td 
            {
            word-break: break-word;
            vertical-align: top;
            }
            .text-wrap
            {
                white-space:normal;
            }
            .svg 
            {
                width: 24px;
                height: 24px;
                color: white;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round;
                fill: none;
            }
            .edit 
            {
                background-image: url("./image/edit-2.svg");
            }
            .view
            {
                background-image: url("./image/eye.svg");
            }
            .cumulativeproduction 
            {
                width: 13vw;
                /* height: 10em; */
                background-color: rbga(255,255,255,0.5);
                position: fixed;
                z-index: 1;
                display: inline-block;
                overflow: hidden;
                /* line-height: 1.5; */
            }
            .shutin {background-color: #F08080;}
            td.highlight { font-weight: bold; }
            .dropdown-content {
                display: none;
                position: fixed;
                background-color: #f6f6f6;
                min-width: 230px;
                overflow: auto;
                border: 1px solid #ddd;
                z-index: 3;
              }
              
              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                position: relative;
              }
              .show-dropdown {display: block;}
              .toggle-helper {
                display: none;
              }