  /* .custom-scrollbar {
    height: 70px;
    overflow-y: scroll;
    background : #F5F6F9;
    width :500px;
  } */
  html { overflow: overlay; }
  table, .dataTables_wrapper, .dataTables_scrollBody { overflow: overlay!important; }
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    /* background : #343a40; */
    background: rgba(0,0,0,0);
    /* background: #ff0000; */
    border-radius: 0px;
    display: none;
    scrollbar-width: none;
  }
  ::-webkit-scrollbar-thumb { 
    /* display: none; */
    background: rgba(33, 37, 41, 0.5);
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
    
  }
  ::-webkit-scrollbar-track:hover + ::-webkit-scrollbar-thumb {
    /* display: unset; */
    background: rgba(33, 37, 41, 1);
    /* background : rgba(248,249,250,0.9); */
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
  } 
  /* table.dataTable.compact thead th,table.dataTable.compact thead td {
    padding: 4px 17px
}

table.dataTable.compact tfoot th,table.dataTable.compact tfoot td {
    padding: 4px
}

table.dataTable.compact tbody th,table.dataTable.compact tbody td {
    padding: 4px
}
table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control {
    padding-left: 27px
}

table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td.dtr-control:before,table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th.dtr-control:before {
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px
} */
