.active-white2 input.form-control[type=text]:focus:not([readonly]) {
						background-color: rgba(0,0,0,0)!important;
						border-bottom: 1px solid #fff!important;
						box-shadow: 0 1px 0 0 #fff!important;
						border-radius: 0!important;
						border: 0 0 0 1px!important;
						border-right-color: rgba(0,0,0,0)!important;
						border-left-color: rgba(0,0,0,0)!important;
						border-top-color: rgba(0,0,0,0)!important;
						}
			.active-white input.form-control[type=text] {
				background-color: rgba(0,0,0,0)!important;
						border-bottom: 1px solid #fff!important;
						box-shadow: 0 1px 0 0 #fff!important;
						border-radius: 0!important;
						border-right-color: rgba(0,0,0,0)!important;
						border-left-color: rgba(0,0,0,0)!important;
						border-top-color: rgba(0,0,0,0)!important;
			}
			.active-white-2 input[type=text]:focus:not([readonly]) {
				background-color: rgba(0,0,0,0)!important;
						border-bottom: 1px solid #fff!important;
						box-shadow: 0 1px 0 0 #fff!important;
						color: #fff!important;
						}
			.active-white input[type=text] {
				background-color: rgba(0,0,0,0)!important;
				
						border-bottom: 1px solid #fff!important;
						box-shadow: 0 1px 0 0 #fff!important;
						color: #fff!important;
			}
			.active-white .fa, .active-white-2 .fa {
						color: #fff!important;
						}
			.active-white input.form-control[type=text]::-ms-input-placeholder { /* Most modern browsers support this now. */
			color:    #f0f0f0;
			}
			.active-white input.form-control[type=text]::-webkit-input-placeholder { /* Most modern browsers support this now. */
			color:    #f0f0f0;
			}
			.active-white input.form-control[type=text]::placeholder { /* Most modern browsers support this now. */
			color:    #f0f0f0;
			}
			.active-white input.form-control[type=text]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #f0f0f0;
			opacity:  1;
			}
			.active-white input.form-control[type=text]::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #f0f0f0;
			opacity:  1;
			}
			.active-white input.form-control[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #f0f0f0;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly])::-ms-input-placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly])::-webkit-input-placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly])::placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly]):-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #fff;
			opacity:  1;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly])::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #fff;
			opacity:  1;
			}
			.active-white2 input.form-control[type=text]:focus:not([readonly]):-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #fff;
			}
			::-ms-input-placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			::-webkit-input-placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			::placeholder { /* Most modern browsers support this now. */
			color:    #fff;
			}
			:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color:    #fff;
			opacity:  1;
			}
			::-moz-placeholder { /* Mozilla Firefox 19+ */
			color:    #fff;
			opacity:  1;
			}
			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color:    #fff;
			}